<ion-content [fullscreen]="true" class="login-container">
  <div class="bg-container"></div>

  <ion-title class="pt-10 pl-5">
    <h1 class="text-2xl pb-2">Bienvenido!</h1>
    <p class="text-lg">Ingresa tu correo y contraseña</p>
  </ion-title>

  <!-- form content -->

  <div class="login-content">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-container">
      <ion-input
        class="mb-4"
        label="Correo"
        label-placement="floating"
        fill="outline"
        placeholder="Ingrese su correo"
        formControlName="email"
      ></ion-input>

      <ion-input
        label="Contraseña"
        label-placement="floating"
        fill="outline"
        placeholder="Ingrese su contraseña"
        formControlName="password"
        type="password"
      ></ion-input>

      <ion-button
        type="submit"
        shape="round"
        color="main"
        [disabled]="!loginForm.valid"
        class="btn-login text-2xl"
        >Ingresar</ion-button
      >
    </form>

    <div class="text-center flex flex-col pt-10 underline gap-y-3">
      <a class="text-base">¿Olvidaste tu contraseña?</a>
      <a
        class="text-base"
        routerLink="/auth/register"
        routerLinkActive="active-link"
        >Crear una cuenta</a
      >
    </div>
  </div>
  <ion-toast
    [isOpen]="isToastOpen"
    [message]="error"
    [duration]="2000"
    [cssClass]="'toast-error'"
    [icon]="'close-circle-outline'"
    [position]="'top'"
    [mode]="'ios'"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>
