.login-container {
    .bg-container {
        display: block;
        position: fixed;
        background-image: url("../../../../assets/background/bg-login.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 600px;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: -10;
    }
}

.login-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .btn-login {
            display: flex;
            align-self: center;
            width: max-content;
            margin-top: 4rem;
            --padding-bottom: 1.5rem;
            --padding-top: 1.5rem;
            --padding-start: 3rem;
            --padding-end: 3rem;
        }
    }
}

ion-input {
    --highlight-color-valid: var(--ion-color-primary);
}

.toast-error {
    --background: var(--ion-color-danger-tint);
    --color: var(--ion-color-danger-contrast);
}