.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    margin: 20px 0 10px 20px;
    h1{
        width: max-content;
    }

    ion-button{
        --padding-start: 0;
        --padding-end: 40px;
    }
}

.tasks-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.tasks-empty {
    margin-top: 10rem;
}

.add-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.fab-group p {
    background-color: var(--ion-color-main);
    border-radius: 200px 200px 0 200px;
    color: var(--ion-color-white);
    padding: 10px;
    margin-bottom: 40px;
}
