<div class="main-container relative" #container>

  <div class="drag-line"></div>

  <div class="title-content">
    <h1 class="text-xl font-semibold">{{ title() }}</h1>

    <ion-button fill="clear" (click)="showOptions()">
      <ion-icon slot="icon-only" name="options-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="tasks-content flex-col overflow-y-scroll">
    <app-items
      class="w-full"
      [tasks]="filterTasks()"
      (taskToEdit)="addView($event)"
    ></app-items>
    <div class="tasks-empty" *ngIf="filterTasks().length === 0">
      <div class="tasks-empty-content w-full text-center">
        <h2 class="text-md font-semibold">{{ contentText }}</h2>
      </div>
    </div>
  </div>

  <ion-footer>
    <div class="add-section">
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button size="small" (click)="addView()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </ion-footer>
</div>
