.select-priority {
    --padding-start: -18px;
    --highlight-color-valid: var(--ion-color-main);
    ion-select-option {
        --highlight-color: var(--ion-color-main);
    }
}

ion-item {
    --highlight-color-valid: var(--ion-color-main);
    ion-input {
        --highlight-color: var(--ion-color-main);
        --highlight-color-invalid: var(--ion-color-main);
        --highlight-color-valid: var(--ion-color-main);
    }
}

ion-datetime-button::part(native) {
    background: var(--ion-color-main-tint);
}

.deadline {
    background: var(--ion-color-main-tint);
    --background-rgb: var(--ion-color-main-tint);
    border-radius: 10px;
}

ion-select {
    --padding-start: 0 !important;
}

.popover {
    --offset-y: -12rem;
    --max-width: 160px;
    cursor: pointer;
}

ion-textarea {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --highlight-color-valid: var(--ion-color-primary);
}
