.bg-container {
    background-image: url("../../../../assets/background/bg-register.svg");
    background-size: cover;
    background-position: stretch;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.register-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        .btn-login {
            display: flex;
            align-self: center;
            width: max-content;
            margin-top: 4rem;
            --padding-bottom: 1.5rem;
            --padding-top: 1.5rem;
            --padding-start: 3rem;
            --padding-end: 3rem;
        }
    }
}

ion-input {
    --background: transparent !important;
    --highlight-color-valid: var(--ion-color-primary);
    margin-top: 5px;
}

.toast-error {
    --background: var(--ion-color-danger-tint);
    --color: var(--ion-color-danger-contrast);
}
