/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "../node_modules/angular-calendar/css/angular-calendar.css";

@import "./styles/var.scss";

/* Talwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme variables */

/* Global SCSS */
* {
    font-family: $main-font;
}

ion-loading.custom-loading {
    --spinner-color: var(--ion-background-color);
    transform: scale(1.4);
    .loading-wrapper {
        background: transparent;
        color: var(--ion-background-color);
    }
}

.tasks-loading {
    --spinner-color: var(--ion-text-color);
    --backdrop-opacity: 0.2;
}

.custom-modal {
    --height: 88%;
    --width: 100%;
    --border-radius: 25px 25px 0 0;
    --backdrop-opacity: 0.5;
    display: flex;
    align-items: flex-end;
}

.add-task-modal {
    --height: max-content;
    --width: 100%;
    --backdrop-opacity: 0.2;
    --background: var(--ion-color-main-tint);
    display: flex;
    align-items: flex-end;
}

.options-modal {
    --height: max-content;
    --width: 100%;
    --border-radius: 25px 25px 0 0;
    --backdrop-opacity: 0.5;
}

.select-options {
    --height: max-content;
    --width: 100%;
    --border-radius: 25px 25px 0 0;
    --backdrop-opacity: 0.5;
    display: flex;
    align-items: flex-end;
}

.item-tasks {
    --border-color: transparent;
}

.select-priority {
    --padding-start: 18px;
}

.alert-wrapper.sc-ion-alert-ios {
    background: var(--ion-color-main-tint);
}

.native-wrapper {
    display: block;
}

ion-datetime {
    --wheel-fade-background-rgb: var(--ion-color-main-tint);
    --ion-color-contrast: var(--ion-color-white);
}

.drag-line {
    position: absolute;
    width: 36px;
    height: 4px;
    left: 50%;
    top: 10px;
    background-color: #b9b9b9;
    transform: translateX(-50%);
    border-radius: 20px;
}

.toast-success {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-white);
}

.toast-delete {
    --background: var(--ion-color-danger);
    --color: var(--ion-color-white);
}